<div class="container-fluid mb-5">
  <h1>Template driven forms</h1>

  <!-- bind the error message for the server -->
  <div class="aler alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

  <!-- Add template reference variable on the form -->
  <!-- novalidate = prevents browser validation to kick in when clicking the submit btn -->
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label>Name</label>
      <!-- add ngModel directive to have access to the input information -->
      <!-- ngModel must have the name attribute -->
      <!-- bind ngModel to the userModel from the class -->
      <!-- [ngModel] = one way binding from class to the view -->
      <!-- [(ngModel)] = two way binding from class to the view and back to the class-->
      <!-- [class.is-invalid]="name.invalid && name.touched" applies the is-invalid class based on the name.invalid condition -->
      <input
        class="form-control"
        name="username"
        #name="ngModel"
        type="text"
        required
        [class.is-invalid]="name.invalid && name.touched"
        [(ngModel)]="userModel.name"
      />
      <!-- single validation rules -->
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <pre>Untouched class: {{name.untouched}}</pre>
    <pre>Pristine class: {{name.pristine}}</pre>
    <pre>Invalid class: {{name.invalid}}</pre>

    <div class="form-group">
      <label>Email</label>
      <input name="email" #email="ngModel" type="text" class="form-control" [(ngModel)]="userModel.email" required [class.is-invalid]="email.invalid && email.touched"/>

      <!-- Multiple error message validation -->
      <div *ngIf="email.errors && (email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email address is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input
        name="phone"
        #phone="ngModel"
        type="tel"
        class="form-control"
        [(ngModel)]="userModel.phone"
        pattern="^\d{10}$"
        required
        [class.is-invalid]="phone.invalid && phone.touched"
      />
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small> -->

      <!-- multiple validation rules -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required.</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits.</small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label">Select topic</label>
      <select
        (blur)="validateTopic(topic.value)"
        (change)="validateTopic(topic.value)"
        name="topic"
        class="custom-select"
        #topic="ngModel"
        [class.is-invalid]="topicHasError && topic.touched"
        [(ngModel)]="userModel.topic"
      >
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError|| topic.untouched">Please choose a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference"/>
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference"/>
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input name="subscribe" class="form-check-input" type="checkbox" [(ngModel)]="userModel.subscribe"/>
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <!-- Form validation disable the button based on the condition -->
    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>
